@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Webkit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #1e1e1e; /* Match your background color */
}

.main-content {
  min-height: calc(100vh - env(safe-area-inset-bottom)); /* Accounts for the bottom nav */
}

nav {
  background-color: #1E1E1E; /* Ensure nav background color matches */
  padding-bottom: env(safe-area-inset-bottom); /* Adjust padding on iOS */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1E1E1E; /* Dark background */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D1B23E; /* Gold accent */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b9972d; /* Darker gold */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #D1B23E #1E1E1E;
}

/* Thinner scrollbar on mobile */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  * {
    scrollbar-width: thin;
  }
}
